.App {
  /* text-align: center; */
  background-color: #E1ECC8;
  /* width: 100vw;
  height: 100vh; */

}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin: 10px;
}
.search-bar{
  width: 50%;
  height: 30px;
  border: none;
  padding: 10px;
  background: #b7b8b6;
}

.search-button{
  background: rgb(65, 28, 124);
  border: none;
  padding: 10px 20px;
  color:white;
  width: 12%;
  height: 50px;

}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.header{
  background: #A0C49D;
  height: 100px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */

}
.logo{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-left: 2%;

}
.logoTitle{
  margin-left: -7%;
  /* border: 1px solid black; */
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
}

